body {
  background-color: #f7f7f7;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding: 60px 20px;
}

.game-box {
  background-color: white;
  border: 4px solid black;
  max-width: 600px;
  margin: auto;
  padding: 40px 20px;
}

h1 {
  font-size: 18px;
  margin-bottom: 30px;
}

p {
  font-size: 12px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.choice {
  display: block;
  margin: 15px auto;
  padding: 15px;
  width: 80%;
  background-color: #ffeb3b;
  color: black;
  text-decoration: none;
  border: 3px solid black;
}

.choice:hover {
  background-color: #ffc107;
}
